{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
            <h2>Listagem de Produtos</h2>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-block" href="{% url 'products:create' %}"><i class="fa fa-plus-circle"></i> Adicionar Produto</a>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name|capfirst }}</td>
                        <td>{{ product.price }} R$</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'products:update' product.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'products:delete' product.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=5 class="text-center">
                            Não Há produtos para serem listados
                        </td>
                    </tr>
                {% endfor %}
            </body>
        </table>
    </div>
{% endblock %}
